
body > div {
    height: 100vh;
}

#entireScreen {
    display: grid;
    grid-template-columns: 1fr 12vw;
    width: 72vw;
    height: 0vh;
    
    
}

#menu {
    background-color: rgb(252, 202, 164);
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 50px;
    overflow: hidden;
    height: 81.25vh;
}
#menu > h2{
    padding: 10px;
}
#menuOptions{
    height: 74vh;
    overflow: scroll;
    scrollbar-width: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
}
#menuOptions > div {
    padding-top: 92px;
}
#menuOptions .productImage {
    width: 100%;
    height: 76%;
    background-size: 100% 100%;
}
#menuButtons {
    display: flex;
}   
#menuOptions > div {
    display: flex;
    flex-wrap: wrap;

    
}
#searchandtitle{
    background-color: rgba(222, 96, 77, 0.767);
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(5px);
    width: 57vw;
    border-radius: 8px 0px 0px 0px;
    box-shadow: -9px 1px 10px 6.5px rgba(99, 9, 9, 0.7);
    height: 75px;
    padding: 10px;
    border:5px solid rgba(128, 23, 23, 0.3);
}
#searchandtitle > h2{
margin: 10px;

}
#menuButtons> input{
    border-radius: 5px;
    border: none;
}
#orderType{
    margin-left: 10px;
    margin-right: 20px;
}

#menuOptions > div > div {
    width: 28.5%;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px 0.5px rgba(31, 30, 30, 0.704);
    margin: 5px;
    background-color: rgba(197, 64, 60, 0.5);
    overflow: hidden;
    border:5px solid rgba(128, 23, 23, 0.3);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 25px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor: pointer;

}#menuOptions > div > div:hover:before{
    /* content: 'じぶんおころします。'; */
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 22.6vh;
    background-color: rgb(213, 113, 100);
    position: relative;
    z-index: 2;
    top: -22.6vh;
    animation: appear 0.5s 0.5s forwards;
    padding: 10px;
    color: white;
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#pizzaSettings{
    display: grid;
grid-template-columns: repeat(4, 1fr) !important;
grid-template-rows: repeat(2, 1fr) !important;
grid-column-gap: 10px !important;
grid-row-gap: 5px !important;

}

#quantflavor{
    grid-area: 1 / 1 / 3 / 2 !important;
    justify-content: center;
}

#pizzaSizes{
    grid-area: 1 / 2 / 3 / 3 !important;
    justify-content: center;
}

ul{
    grid-area: 1 / 3 / 3 / 4 !important;
    align-self: center;
}
#buttonPls{
    grid-area: 1 / 4 / 3 / 5 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

#buttonPls > button{
    width: 10vw;
    height: 5vh;
}

.productImage{
    width: 100%;
}
#menuOptions > div > div > #titlepizza {
    font-size: 17.5px;
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    border-bottom: 5px solid rgba(128, 23, 23, 0.3);
    padding: 10px;
    justify-self: center;
    align-self: center;

}
#menuOptions > div > div > .productImage {
    grid-area:  2 / 1 / 3 / 2;
    height: 100%;
}

#menuOptions > div > div > p {
    grid-area: 4 / 1 / 5 / 2;
    color: white;
    outline: 5px solid rgba(128, 23, 23, 0.3);
    padding: 5px;
    justify-self: center;
    align-self: center;
    width: 100%;
    text-align: center;

}

#pizzaSettings {
    width: 94% !important;
    height: 15vh !important;
}

#pizzaSettings > div {
    display: flex;
    flex-direction: column;
}

#pizzaSettings > button {
    height: 30px;
    width: 80%;
    justify-self: center;
}

#cart {
    background-color: rgb(246, 154, 124);
    height: 79.9vh;
    position: sticky;
    border-radius: 0px 10px 10px 0px;
    border:5px solid rgba(128, 23, 23, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

}

#cart div:nth-of-type(1){
    border-bottom: 5px solid rgba(128, 23, 23, 0.3);
    color: white;
    padding: 10px;
    padding-left: 15px;
    grid-area: 1 / 1 / 2 / 2;
}
#cart div:nth-of-type(2){
    color: white;
    padding: 10px;
    padding-left: 15px;
    grid-area: 2 / 1 / 3 / 2;
}
#nextStep{
    background-color: rgba(222, 96, 77, 0.767);
    color: white;
    border:2.5px solid rgba(128, 23, 23, 0.3);
    border-radius: 10px;
    width: 8vw;
    height: 5vh;
    justify-self: center;
    cursor: pointer;
    transition-duration: 0.5s;
    margin-top: 15px;
    margin-bottom: -10px;
}
#nextStep:hover{
    scale: 1.05;
}
#nextStep:active{
    scale: 1;
}
#cart div:nth-of-type(3){
    color: white;
    padding: 10px;
    padding-left: 25px;

    position: fixed;
    bottom: 70px;
    border-top: 5px solid rgba(128, 23, 23, 0.3);
    grid-area: 3 / 1 / 4 / 2; 
    width: 9.1vw;
}



#pizzaFlavorsBack {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
}

#pizzaFlavorsBack > div {
    width: 60vw;
    height: 70vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 32px 1fr 48px;
}

#flavors {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#flavors > div {
    width: 100%;
    height: 30%;
    min-height: 30%;
    outline: solid;
    background-color: aliceblue;
}

#pizzaFlavorsBack > div > div:last-child {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}