p {
    color: black;
}

#sad{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    padding-top: 15vh;
}
#userCard {
    padding: 48px 48px 0 48px;
    height: 76vh;
    width: 80vw;
    margin-bottom: 200px;

    border: 5px solid rgba(207, 175, 160, 0.6);
    background-color: rgb(253, 217, 190);
    border-radius: 5px;
    

    display: grid;
    grid-template-rows: 158px 20px 220px 48px;
    grid-template-columns: 78px 92px 1fr;

    animation: card_in 1s ;
}

#userCard > h2 {
    height: fit-content;
    align-self: center;
    font-size: xx-large;
    grid-area: 1 / 3 / 1 / 3;
}

#userCard > button {
    grid-area: 4 / 2 / 5 / 3;
}

#userImage {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid white 8px;
}

#userInfo {
    grid-area: 3 / 2 / 3 / 4;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.botoes{
    border:none;
    background:rgb(201, 45, 40);
    color:white;
    height:75px;
    width: 225px;
    transition-duration:0.1s;
    border-radius: 7.456px;
    cursor:pointer;
}
.botoes:active{
    scale:0.97;

    

}
#botoesUser{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

/*keyframes*/
@keyframes card_in {
    from{
        opacity:0;
        transform:translateY(-100px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}
